<!-- <div class="container">
    <h1 class="title">Welcome to Home Page!</h1>
    <a mat-raised-button color="primary" routerLink="/document-ocr">Go to Document OCR</a>
</div> -->

<section class="hero">
    <div class="hero-content">
      <h1 class="hero-title">Welcome to IndulgeAi</h1>
      <p class="hero-description">Empowering businesses with AI solutions</p>
      <a class="hero-button" href="#">Get Started</a>
    </div>
  </section>
  
  <section class="features">
    <div class="feature">
      <i class="icon fas fa-cogs"></i>
      <h2 class="feature-title">Feature 1</h2>
      <p class="feature-description">Documents OCR.</p>
    </div>
    <div class="feature">
      <i class="icon fas fa-chart-bar"></i>
      <h2 class="feature-title">Feature 2</h2>
      <p class="feature-description">Keywords Extraction.</p>
    </div>
    <div class="feature">
      <i class="icon fas fa-users"></i>
      <h2 class="feature-title">Feature 3</h2>
      <p class="feature-description">Insights Processing.</p>
    </div>
  </section>
  
  <section class="testimonial">
    <div class="testimonial-content">
      <h2 class="testimonial-quote">"IndulgeAi has transformed our business operations and boosted our productivity."</h2>
      <p class="testimonial-author">John Doe, CEO of ABC Company</p>
    </div>
  </section>
  